---
import Layout from "@layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import type { Response } from "./types";

const url = import.meta.env.PUBLIC_UNSPLASH_URL;
const accessKey = import.meta.env.UNSPLASH_ACCESS_KEY;
const secretKey = import.meta.env.UNSPLASH_SECRET_KEY;
const authHeaders = {
  Authorization: `Client-ID ${accessKey}`,
  "Accept-Version": "v1",
};

const response = await fetch(`${url}/photos/random`, {
  headers: authHeaders,
});
const randomPhoto = (await response.json()) as Response;
console.log("load random photo");
---

<Layout title="Gallery">
  <h1>Welcome to my gallery</h1>
  <p>Here are some photos I took with my phone</p>
  <p>
    details {
      JSON.stringify(
        {
          width: randomPhoto.width,
          height: randomPhoto.height,
        },
        null,
        2
      )
    }
  </p>

  <Image
    src={randomPhoto.urls.regular}
    width={800}
    height={800 / (randomPhoto.width / randomPhoto.height)}
    alt={randomPhoto?.description}
    quality={90}
  />
</Layout>
